
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: $primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-item a, .navbar-light .navbar-nav .nav-link {
  color: $secondary;
}
.nav-item a:hover, .navbar-light .navbar-nav .nav-link:hover {
  color: darken( $secondary, 10% )
}
